.container{
    width: 300px;
    margin:  60px auto;
    background: rgb(56 89 100);
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 30px;
    border-radius: 5px;
}

.container:hover{
    background: rgb(30, 33, 34);
    width: 330px;
}

.clock{
    font-size: 40px;
    margin-top: 30px;
}